.category-card {
  background-color: black;
  border-radius: 17px;
  padding: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-content {
  text-align: center;
}

h3 {
  color: white;
}
